<html xmlns:th="http://www.thymeleaf.org">
<html lang="zh-CN">
<head>
    <script type="text/javascript" th:src="@{https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js}"></script>
    <link th:href="@{https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
    <meta charset="UTF-8"/>
    <title>书籍列表</title>
</head>
<style>
    .square {
        background-color: antiquewhite;
    }
</style>

<body>


<img th:href="@{http://www.kning.cn/55.png}"></img>
<div class="container">
    <h3>Spring Data JPA练习 </h3>
    <div class="row">
        <div class="col-md-3" th:each="book:${bookList}">
            <div class="thumbnail square" >
                    <h4><a th:href="@{/book/{bookId}(bookId=${book.id})}" th:text="${book.name}"></a></h4>
                    <p th:text="${book.author}"></p>
                    <img th:src="${book.pic}" class="img-circle avatar">
                    <p th:text="售价 + ${book.price} + 元"></p>
            </div>
        </div>
    </div>
</div>

</body>
</html>